body {
	background: #f3f2f3;
	font-family: 'Assistant';
	font-weight: 500;
}

header {
	position: relative;
	color: #B6B6B7;
}

header .tagline {
	height: 100px;
	padding: 50px 0px 80px;
	position: relative;
}

header .tagline p span {
	color: #90E0C3;
}

header .tagline .hamburger {
	position: absolute;
	left: 100px;
	top: 30px;
}

header .banner {
	background-color: white;
	position: relative;
}

header .banner h1 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 7px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	position: absolute;
	top: -20px;
	text-align: center;
	color: #000;
}

header .navbar-toggler:hover,
header .navbar-toggler:focus,
header .navbar-toggler:active,
header .navbar-toggler {
	border: none;
	outline: none;
	z-index: 999;
	cursor: pointer;
}

header .navbar-toggler > .close {
	display: inline;
	margin-left: 5px;
}

header .navbar-toggler > .close img {
	height: 20px;
	width: 20px;
}

header .navbar-toggler.collapsed > .close,
header .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
	display: none;
}

header .navbar-collapse.collapsing {
	opacity: 0;
}

header .navbar-collapse.show {
	opacity: 1;
	transition: opacity .1s ease-in;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	height: 100%;
	z-index: 9;

	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}

header .navbar-collapse.show ul {
	width: 300px;
	margin: 0px auto;
	text-align: center;
}

header .navbar-collapse.show ul li {
	line-height: 72px;
}

header .navbar-collapse.show ul li a {
	color: #000 !important;
	font-family: 'Assistant', Assistant;
	font-size: 35px;
}

header .navbar-collapse.show ul li a:hover {
	color: #90e0c3 !important;
}

.header-1 .banner {
	background-image: url(../img/bg.png);
	height: 400px;
}

.header-1 .profile {
	bottom: -115px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	position: absolute;
}

.header-1 .profile img {
	width: 80%;
}

.header-1 .inline-profile {
	margin-left: 210px;
}

.header-1 .social-icons {
	display: inline-block;
}

.header-1 .social-icons ul {
	margin-bottom: 0px !important;
}

.header-2 .banner {
	height: 500px;
}

.header-2 .banner-content {
	height: inherit;
	padding-top: 10px;
}

.header-2 .book-title {
	font-weight: 600;
	letter-spacing: 5px;
	color: #000;
}

.header-2 .book-author {
	font-weight: 200;
	letter-spacing: 5px;
	color: #B6B6B7;
	text-transform: uppercase;
}

.header-2 .book-author {
	font-weight: 200;
	letter-spacing: 5px;
	color: #B6B6B7;
	text-transform: uppercase;
}

.header-2 .content-right img {
	width: 100%;
}

.header-3 .banner {
	background: url(../img/img1.png) no-repeat center center / cover;
	height: 400px;
}

.social-icons [class*="fa fa-"] {
	background-color: #90E0C3;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	margin: auto 3px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

.follow-us-div .social-icons {
	margin: 0px auto;
}

.footer {
	color: #B6B6B7;
	padding: 50px 0px;
}

.custom-width-of-global {
	max-width: 640px;
	margin: auto;
}

@media (max-width: 767px) {
	header .tagline .hamburger {
		top: 0px;
		left: 0px;
		right: 0px;
	}

	header .navbar-toggler {
		margin: 0px auto;
	}

	header .navbar-collapse.show {
		padding: 50px 0px;
		display: block;
	}
}
































/*--------------------------------------------------START HERE---------------------------------------------------------- */
.h36 {
	font-size: 36px !important;
}
.h34 {
	font-size: 36px !important;
}
.h48 {
	font-size: 48px !important;
}
.h21 {
	font-size: 21px !important;
}
.h14 {
	font-size: 14px !important;
}
.font-weight-bold {
	font-weight: 600;
}
.w-no-wrap {
	white-space: nowrap;
}
.color-lighted {
	color:#90e0c3;
}
.color-lighted-not {
	color:#333333;
}
.quote {
	line-height: 1.27;
}
.Jodi {

	font-family: CheddarJack;
	font-size: 139.4px;
	text-align: left;
	color: #90e0c3;
}




.mt-6 {
	margin-top: 10rem!important;
}

.mt-7 {
	margin-top: 7rem!important;
}

h1 {
	font-family: Assistant;
	color:;
	line-height: 0.84;
	letter-spacing: 12px;
	color: #b6b6b7;
	font-weight: 200;
}
h5 {
	color:#333333;
}



body {

	background: #F4F3F4;
	font-family: 'Assistant' !important;
}
.media {
	align-items: center;
}
.media img {
	max-height: 214px;
}
.global-color-1 {
	background: #ffffff
}
.custom-width-of-global {
	max-width: 640px;
	margin: auto;
}
.custom-p-line-height {
	line-height: 1.3;
}
.blockquote {
	margin-bottom: 2rem;
}
.blockquote p {
	line-height: 1.52;
	font-size: 21px;
}

.custom-hover:hover {
	background: #90e0c3 ;
	cursor: pointer;
	color:#333333;
}
.custom-full-bg {
	background: #DFDFE1;
}
.padding-custom-full {
	padding-bottom: 50px !important;
	padding-top: 50px !important;
}

.btn-for-input {
	position: absolute;
	top: 12px;
	right: 0;
}

.reviews-writing-container {
	color: #90e0c3;
}

.bs-float-label {
	position:relative;
	padding: 10px 0;


}
.bs-float-label > .float-input {margin-top:10px;}
.bs-float-label > .float-input:focus {
	/*border-color: #f06d06;*/
}
.bs-float-label > .float-label {
	position:absolute; 
	top:3px; 
	font-size: 18px;
	left:10px; 
	background:rgba(255, 255, 255, .32); 
	-webkit-transition: top .5s ease-in-out, opacity .5s ease-in-out; /* For Safari 3.1 to 6.0 */
	transition: top .5s ease-in-out, opacity .5s ease-in-out;
	opacity:0;
}
.bs-float-label > .float-label.show { color:#333; top:1px; opacity:1; }



input.float-input,input.float-input:focus {
	border: none;
	border-bottom: solid 1px #DCDCDC;
	border-radius: 0;
	background: transparent;
	font-size: 24px
}

.btn {
	border-radius: 0;
	padding: 14px 60px;
	font-size: 20px;
}
.btn-one {
	background: #91E1C4;
	cursor: pointer;
	font-weight: 600
}

.subcribe-container {
	background: #ffffff;
	padding: 35px;
}

.container-quote {
	max-width: 700px;
}

.jodi-writes-side {
	width: 240px;
	margin: auto;
	text-align: left;
	padding-left: 67px;
}

.social-icons-side [class*="fa fa-"] {
	background: transparent;
	border: solid 1px #000000;
	color: #000000;

}

.h1-title {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 7px;
	color: #000000;
}

.line-height-21 {
	line-height: 21px;
}
.mt-quote {
	margin-top: 7px;
}

.lh-14 {
	line-height: 14px;
}

.f24 {
	font-size: 24px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */

	font-size: 24px !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #000000;
	opacity:  1;
	font-size: 24px !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #000000;
	opacity:  1;
	font-size: 24px !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #000000;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color:    #000000;
	font-size: 24px !important;
}

/*--------------------------------------------------END HERE---------------------------------------------------------- */


@media only screen and (max-width: 575px) {
	/* For mobile phones: */
	.img-responsive-custom {
		height: 200px;
		width: 200px !important;
	}
	.content-right {
		text-align: center;
	}
	.jodi-writes-side {
		margin: auto !important;
		padding:0;
	}
	.book-title {
		margin-top: 50px;
	}

}


@media only screen and (max-width: 767px) {
	/* For mobile phones: */
	
	.btn {

		padding: 14px 20px;

	}

	.bs-float-label {
		text-align: right;

	}
	.btn-for-input {
   		 position: relative;
   		

	}
}


@media only screen and (max-width: 396px) {
	/* For mobile phones: */
	
	.header-2 .banner {
	    height: auto;
	    padding-bottom: 40px;
	}
}
